.formDiv {
    border-radius: 25px;
    box-sizing: border-box;
    border: 2px solid #73AD21;
    width:90vw;
    margin:auto;
    padding: 1%;
    padding-right: 10%;
    font-size: 1em;
    margin-bottom: 20px;
}

.formSpan {
    display: flex;
    justify-content: space-between;
}

.initialForm {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    line-height: 1.5em;
}

.formTitle {
    min-width: 15vw;
}

.questionnaireButton {
    float: right;
}

button {
    margin-right: 2%;
    font-size: 1em;
    padding: 0.7em;
    border: none;
    background-color: rgb(84, 79, 197);
    color: white;
    font-weight: bold;
}

*:disabled {
    background-color: lightgray;
    color: white;
}

button:disabled:hover {
    background-color: lightgray;
    color: white;
}

button:hover{
    background-color: lightgreen;
    color: black;
}

.green {
    color: green;
}

.red {
    color: red;
}

.results {
    text-align: center;
}

.subscript {
    vertical-align: text-bottom;
    font-size: 0.7em;
}

.chartContainer {
    display: flex;
    justify-content: space-around;
}

.chartDiv {
    min-width: 50%;
}

header {
    background-color: lightgreen;
    padding:0.1em;
}

.footprintDiv {
    border: 3px dotted rgb(44, 175, 254);
    box-sizing: border-box;
    border-radius: 30px;
    width: fit-content;
    padding-left: 5em;
    padding-right: 5em;
    margin:auto;
    margin-bottom: 2em;
}